{% extends "layouts/home.html" %}
<!--  -->
{% block title %} Services{% endblock title %}
<!--  -->
{% block content %}
<!--  breadcrumb-area  start -->
{% include 'components/breadcrumb.html' with name="Services" %}
<!--  breadcrumb-area  end -->
<!-- services area start -->
<section class="services-area pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".3s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-1.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-plane-1"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Air Transport</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".5s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-2.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-truck-1"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Road Freight</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".7s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-3.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-cruise"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Ocean Freight</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".3s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-4.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-train"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Rail Transport</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".5s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-5.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-warehouse"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Warehousing</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div
          class="tp-services-3__item p-relative mb-30 z-index-2 wow fadeInUp"
          data-wow-duration=".9s"
          data-wow-delay=".7s"
        >
          <div
            class="tp-services-3__thumb tp-services-3__before-color p-relative"
          >
            <img
              class="w-100"
              src="/assets/img/services/services-6.jpg"
              alt=""
            />
          </div>
          <div class="tp-services-3__wrap d-flex align-items-start">
            <div class="tp-services-3__icon">
              <span><i class="flaticon-delivery-truck"></i></span>
            </div>
            <div class="tp-services-3__content">
              <h3 class="tp-services-3-title-3">
                <a href="#">Road Transport</a>
              </h3>
              <p>Air freight is the fastest way to transport goods</p>
              <div class="tp-services-3__btn">
                <!-- <a class="tp-services-btn" href="contact.html"
                  >READ MORE<i class="fa-sharp fa-regular fa-arrow-right"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services area end -->
<!-- cta area start -->
{% include "components/cta.html" %}
<!-- cta area end -->

{% endblock content %}
