<div class="cta-area-2 theme-color-2 pt-60 pb-60 p-relative fix">
  <div class="tp-cta__lg-circel">
    <img src="/assets/img/blog/lg-circel.png" alt="" />
  </div>
  <div class="tp-cta__sm-circel">
    <img src="/assets/img/blog/circel.png" alt="" />
  </div>
  <div class="tp-cta__shap-3 wow slideInLeft">
    <img src="/assets/img/cta/cta-shap-3.png" alt="" />
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-9 col-lg-8">
        <div class="tp-cta-2">
          <div
            class="tp-cta__content wow fadeInUp text-center text-lg-start"
            data-wow-duration=".9s"
            data-wow-delay=".5s"
          >
            <h2 class="tp-cta-title-2">
              We’re best transport agency for <br />
              give best quality service
            </h2>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4">
        <div class="tp-cta-2__btn text-center text-lg-start">
          <div
            class="tp-cta-2__btn wow fadeInUp"
            data-wow-duration=".9s"
            data-wow-delay=".7s"
          >
            <a class="tp-btn-white" href="/track">Track</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
